html, body{
    margin: 0;

    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-style: normal;

    scrollbar-width: none;
}

header{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    padding-top: 1vh;
    height: 10vh;
}

div.nav-btns{
    width: 60vh;
}
ul.btn-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style: none;
}

ul.btn-nav li {
    display: flex;
    align-items: center;
    height: 9vh;
    position: relative; 
    padding: 0rem 1rem;
}

ul.btn-nav li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 5px;
    background-color: #fff; 
    transition: all 0.5s ease; 
    transform: translateX(-50%); 
}

ul.btn-nav li:hover::before {
    width: 100%; 
    background-color: #1bafc9;
    border-radius: 15%; 

    cursor: pointer;
}


a{
    text-decoration: none;
    color: black;
}
img.logo{
    width: auto;
    height: 8vh;
}
.Hsection{
    height: 90vh;
    width: 100%;

    background-image: url(imgs/autobus1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Hh1{
    position: relative;
    bottom: 60vh;

    padding: 0rem 5rem;

    
}
.hh2{
    height: 90vh;
}
.Hh1 h1{
    color: #fff;
    font-size: 10vh;

    padding: 1px 15px;
    margin: 5px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
}
.Hh1 h2{
    margin: 5px;
    color: #FFF;
    font-size: 3vh;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 15px;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 20vh;
    background-color: #1bafc9;
}
.Fimg{
    height: 10vh;
    width: auto;
}
.Ful1 ul{
    text-align: center;
    font-weight: bold;
    list-style: none;

    padding: 5vh 8vh;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

}
.Ful1 ul li{
    padding: 0vh 3vh;
}
div.redes{
    display: flex;
    justify-content: space-between;
    width: 30vh;
}
div.redes a img{
    width: 5rem;
    height: auto;
}
.bd1{
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 0 8rem;

}
.bd2{
    width: 100%;

    text-align: left;
}
.cd1{
    width: 100%;
    height: 80vh;

    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cd2{
    width: 60vw;

    display: flex;
    flex-direction: row;
}
.img1{
    --tamaño: 10vh;

    width: var(--tamaño);
    height: calc(var(--tamaño)*1.2);

    border-radius: 50% 50% 0 0;

    background-image: url(imgs/test.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.padding-left{
    padding-left: 100px;
}

.cd3{
    display: flex;
    justify-content: center;

    flex-direction: column;
}
.btn-principal{
    color: #fff;
    padding: 5px 15px;
    background-color: #1bafc9;
    border-radius: 15px;
}
.btn-principal:hover{
    background-color: #1899af;
}
.ed1{
    width: 100%;
    height: 120vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ed2{
    width: 50vh;

    text-align: center;
}
.ed2 h1 a{
    text-decoration: underline;
}
.ed2 h1 a:hover{
    color: #1899af;
}
.ed3{
    width: auto;
    height: 80vh;

    padding: 0 15rem;
}
.ed3{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 16.6%);

    column-gap: 15px;
    row-gap: 15px;
}

.edimg{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.edimg:nth-child(1){
    grid-area: 1/1/3/1;
}
.edimg:nth-child(2){
    grid-area: 3/1/7/1;
}
.edimg:nth-child(3){
    grid-area: 1/2/3/2;
}
.edimg:nth-child(4){
    grid-area: 3/2/5/2;
}
.edimg:nth-child(5){
    grid-area: 5/2/7/2;
}
.edimg:nth-child(6){
    grid-area: 1/3/5/3;
}
.edimg:nth-child(7){
    grid-area: 5/3/7/3;
}
.edimg:nth-child(8){
    grid-area: 1/4/3/4;
}
.edimg:nth-child(9){
    grid-area: 3/4/5/4;
}
.edimg:nth-child(10){
    grid-area: 5/4/7/4;
}
